*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.logo{
    margin-right: 0.5rem;
}
.input-button{
    margin: 1rem;
    justify-content: center;
}
.choise{
    margin-right: 0.5rem;
}
.container{
    display: flex;
    height: 90%;
    background-color: rgb(142, 250, 222);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.istruzioni{
    margin: auto;
    text-align: center;
}
.grid{
    --square:10;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 500px;
    height: 500px;
}

.cell{
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100%/var(--square));
    width: calc(100%/var(--square));

}

.cell.active{
    background-color: blue;
}
footer{
    padding:2.5rem 1rem;
}
.hidden{
    display: none;
}